<h1>Teams Page</h1>

<form action="">
	<div>
		<label for="name">Name</label>
		<input type="text" name="name" #name ng placeholder="name" />
	</div>
	<div>
		<label for="description">Description</label>
		<input type="text" name="description" #description placeholder="description" />
	</div>
	<div>
		<label for="members">Members</label>
		<input type="members" name="members" placeholder="member email"/>
        <input type="button" value="add">
        <ul #members>
            <li>Member 1</li>
            <li>Member 2</li>
        </ul>
	</div>
    <div>
		<label for="password">Tasks</label>
        <select name="tasks" id="tasks" #tasks>
            <option value="taskid1">task 1</option>
        </select>
	</div>
	<div>
		<input type="submit" value="Create"  (click)="createTeam(name, description)" />
		<input type="submit" value="Cancel" />
	</div>
</form>

